

.album_grid-item {
  text-align: center;
}

.album_item {
	background: #fff;
	width: 200px;
}
.album_videoitem {
	background: #fff;
	width: 640px;
	margin-top: 20px;
}
.album_items {
	background: #fff;
	width: 200px;
}

.album_item,.album_videoitem,.album_items{
	overflow:hidden;
	text-align:center;
	box-shadow: 5px 5px 5px #888888;
}
.album_item a,.album_videoitem a,.album_items a{
	border: none;
	text-decoration: none;
}
.album_item a,.album_videoitem a,.album_items a{
	border: none;
	text-decoration: none;
}
div.album_item img,div.album_item img.colorbox ,
div.album_items img,div.album_items img.colorbox ,
div.album_videoitem img,div.album_videoitem img.colorbox {
	display:inline;
        margin:0;
}

div.album_item a:hover img,div.album_item a:hover img.colorbox ,
div.album_items a:hover img,div.album_items a:hover img.colorbox ,
div.album_videoitem a:hover img,div.album_videoitem a:hover img.colorbox {
        border:1px solid #d0d0d0;
	text-decoration: none;
}

div.album_desc {
	text-align:center;
	font-weight:normal;
	white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;  
}
div.album_desc img{
	margin-right:10px;
}
div.album_title{
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}

.album_grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 30px 10px;
  }

img.album_icon{
}
div.album_left{
	float:left;
}

.clear {
	clear:both;
}

.titel{
        border:1px solid  #FF4646;
}

.photo_rand{
	text-align:center;
}
/*
#slideshow {
	text-align:center;
    padding: 0px; 
   min-height: 150px;
}

#slideshow > div { 
    position: absolute; 
    top: 1px; 
    left: 1px; 
    right: 1px; 
    bottom: 1px
}
*/

.slideshow {
    padding: 0px; 
}
ul.slider {
  min-height: 300px; /* Update to your slider height */
  position: relative;
  overflow: hidden;
  padding:0;
}

.slider li {
  display: none;
  position: absolute; 
  top: 0; 
  left:0;
}

